version: '3.4'

services:
  reportdb:
    container_name: reportdb
    restart: always
    ports:
        - "27017:27017"
    volumes:
        - mongo_data:/data/db

  phonebookdb:
    container_name: phonebookdb
    environment:
        - POSTGRES_USER=admin
        - POSTGRES_PASSWORD=admin1234
        - POSTGRES_DB=PhoneBookDb
    restart: always
    ports:
        - "5432:5432"
    volumes:
        - postgres_data:/var/lib/postgresql/data/

  pgadmin:
    container_name: pgadmin
    environment:
        - PGADMIN_DEFAULT_EMAIL=admin@hotmail.com
        - PGADMIN_DEFAULT_PASSWORD=admin1234
    restart: always
    ports:
        - "5050:80"
    volumes:
        - pgadmin_data:/root/.pgadmin 

  phonebook.api:
    container_name: phonebook.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "DatabaseSettings:ConnectionString=Server=phonebookdb;Port=5432;Database=PhoneBookDb;User Id=admin;Password=admin1234;"
    depends_on:
      - phonebookdb
    ports:
      - "5001:80"

  report.api:
    container_name: report.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "DatabaseSettings:ConnectionString=mongodb://reportdb:27017"
    depends_on:
      - reportdb
    ports:
      - "5002:80"
